@import com.eco.changeOrder.core.ChangeOrder;
@import com.eco.changeOrder.core.ChangeOrderData;
@import com.eco.changeOrder.core.Bug;
@import com.eco.views.resources.GUI;
@import com.eco.revision.core.Branch;
@import com.eco.utils.misc.Dict;
@import java.util.List;
@import org.apache.commons.text.StringEscapeUtils;

@args(String branchName, String userName, List<String> branches, ChangeOrder changeOrder)

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>ECO Revision Controller</title>

        <link rel="stylesheet" href="/css/snackbar.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <link rel="shortcut icon" href="/favicon.ico" />

    </head>


    <body>

    <div class="snackbar" id="successSnackBar">Success</div>
    <div class="snackbar" id="errorSnackBar">Error</div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href= "@GUI.PATH_ROOT/@GUI.PATH_CHANGE_ORDERS"><h4>Change Orders</h4></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @if (branchName != null && branchName.length() > 0) {
                                Branch : @branchName
                                } else {
                                Select Branch
                                }
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @if (branches != null) {
                                @for (branch : branches) {
                                <a class="dropdown-item" href="/changeOrder/@branch">@branch</a>
                                }
                                }
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@GUI.PATH_ROOT/">Show Revisions</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row"><br \></div>


    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form>
                <div class="form-group">
                    <label for="changeOrderID">ID</label>
                    <input type="text" class="form-control" id="changeOrderID" placeholder="Required">
                </div>

                <div class="form-group">
                    <label for="branchName">Branch Name</label>
                    <input type="text" class="form-control" id="branchName" placeholder="Required">
                </div>

                <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" id="author" placeholder="Required">
                </div>

                <div class="form-group">
                    <label for="comment">Comment</label>
                    <input type="text" class="form-control" id="comment" placeholder="Required">
                </div>

                <div>
                    <label class="control-label" for="bugIDs">Bug ID</label>
                    <div id="bugIDs">
                        <div class='form-inline input-group'>
                            <input type='text' class='form-control' id='bugID' placeholder='Bug ID'/>
                            <input type='text' class='form-control' id='fixBranchName' placeholder='Fix Branch Name'/>
                            <input type='text' class='form-control' id='fixRevisionID' placeholder='Fix Revision ID'/>

                            <button class='input-group-addon moreBug btn btn-success' style='width: 40px;'>+</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>


    <script src="/js/API.js"></script>
    <script src="/js/views/changeOrder.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    </body>
</html>
