@import com.eco.revision.core.Revision;
@import com.eco.revision.core.RevisionData;
@import com.eco.revision.core.Branch;
@import com.eco.revision.core.CommitStatus;
@import com.eco.revision.resources.RevisionResource;
@import com.eco.views.resources.GUI;
@import com.eco.utils.misc.Dict;
@import java.util.List;
@import org.apache.commons.text.StringEscapeUtils;

@args(String branchName, String userName, List<Branch> branches, List<Revision> revisions, String urlNext, String urlPrev, String urlBranches)

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ECO Revision Controller</title>

    <link rel="stylesheet" href="/css/snackbar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="/favicon.ico" />

</head>


<body>

<div class="snackbar" id="successSnackBar">Success</div>
<div class="snackbar" id="errorSnackBar">Error</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><h4>Revisions</h4></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @if (branchName != null && branchName.length() > 0) {
                                Branch : @branchName
                            } else {
                                Select Branch
                            }
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @if (branches != null) {
                                @for (Branch branch : branches) {
                                <a class="dropdown-item" href="@branch.getURL()">@branch.getBranchName()</a>
                                }
                            }
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@GUI.PATH_ROOT/@GUI.PATH_CHANGE_ORDERS">Show Change Orders</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row"><br \></div>

@if (branchName != null && branchName.length() > 0) {
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4" style="text-align: left"><button type="button" class="btn btn-secondary btn-sm" onclick="window.location.href='@urlPrev'">Prev</button></div>
    <div class="col-md-2" style="text-align: center"></div>
    <div class="col-md-4" style="text-align: right"><button type="button" class="btn btn-secondary btn-sm" onclick="window.location.href='@urlNext'">Next</button></div>
    <div class="col-md-1"></div>
</div>
<div class="row"><br \></div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table" style="float: left;">
            <thead>
                <tr>
                    <th style="width:5%">Revision</th>
                    <th style="width:10%">Submit Time</th>
                    <th style="width:5%">Author</th>
                    <th style="width:10%">Last Change</th>
                    <th style="width:5%">Edit By</th>
                    <th style="width:25%">Committed</th>
                    <th style="width:25%">Skipped</th>
                </tr>
            </thead>
            <tbody>
            @if (revisions != null) {
                @for (revision : revisions) {
                <tr id="@revision.getRevisionId()">
                    <input class="branchName" type="hidden" value="@revision.getBranchName()">
                    <input class="revisionID" type="hidden" value="@revision.getRevisionId()">
                    <input class="userName" type="hidden" value="@userName">
                    <th scope="row">@revision.getRevisionId()</th>
                    <td>@revision.getTime().toString()</td>
                    <td>@revision.getAuthor()</td>
                        @if (revision.getEditor() == null || revision.getEditor().length() == 0) {
                            <td>Never</td>
                            <td></td>
                        } else {
                            <td>@revision.getEditTime().toString()</td>
                            <td id="editor">@revision.getEditor()</td>
                        }
                    <td>
                        <ul class="committedList">
                        @if (revision.getData() != null && revision.getData().getCommitStatuses() != null) {
                            @for (commitStatus : revision.getData().getCommitStatuses()) {
                                @if (commitStatus != null && commitStatus.getStatus() == Revision.STATUS.COMMITTED.getValue()) {
                            <li id="committed@commitStatus.getBranchName()">
                                <span class="commentTooltip" data-toggle="tooltip" data-placement="bottom" data-html="true" title="@StringEscapeUtils.escapeHtml4(commitStatus.getComment()).replaceAll("(\r\n|\n)", "<br />")">
                                    <a class="operationBranchName">@commitStatus.getBranchName()</a> : <a class="commitID">@commitStatus.getCommitID()</a>
                                </span>
                                <button type="button" class="close BtnDelete" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </li>
                                }
                            }
                        }
                        </ul>
                    </td>
                    <td>
                        <ul class="skippedList">
                        @if (revision.getData() != null && revision.getData().getCommitStatuses() != null) {
                            @for (commitStatus : revision.getData().getCommitStatuses()) {
                                @if (commitStatus != null && commitStatus.getStatus() == Revision.STATUS.SKIPPED.getValue()) {
                            <li id="skipped@commitStatus.getBranchName()">
                                <span class="commentTooltip" data-toggle="tooltip" data-placement="bottom" data-html="true" title="@StringEscapeUtils.escapeHtml4(commitStatus.getComment()).replaceAll("(\r\n|\n)", "<br />")">
                                    <a class="operationBranchName">@commitStatus.getBranchName()</a>
                                    <a class="commitID" style="display: none">@commitStatus.getCommitID()</a>
                                </span>
                                <button type="button" class="close BtnDelete" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </li>
                                }
                            }
                        }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="6"><p style="white-space:pre-wrap; width:60em">@StringEscapeUtils.escapeHtml4(revision.getComment())</p></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="6">
                        <div class="input-group input-group-sm mb-3">
                            <input class="branchName" type="hidden" value="@revision.getBranchName()">
                            <input class="revisionID" type="hidden" value="@revision.getRevisionId()">
                            <input class="userName" type="hidden" value="@userName">

                            <div class="input-group-prepend">
                                <button class="btn btn-outline-success BtnAdd" type="button">Add</button>
                            </div>
                            <select class="custom-select form-control col-lg-1 addingStatus" id="inputGroupSelect03">
                                <option value="0" selected>Committed</option>
                                <option value="1">Skipped</option>
                            </select>

                            <div class="input-group-prepend">
                                <span class="input-group-text">BranchName</span>
                            </div>
                            <input class="form-control col-lg-2 addingBranchName" placeholder="Required">

                            <div class="input-group-prepend">
                                <span class="input-group-text">Commit ID</span>
                            </div>
                            <input class="form-control col-lg-1 addingCommitID" placeholder="Required">

                            <div class="input-group-prepend">
                                <span class="input-group-text">Comment</span>
                            </div>
                            <textarea class="form-control addingComment" placeholder="Optional"></textarea>
                        </div>
                    </td>
                </tr>
                }
            }
            </tbody>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row"><br \></div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4" style="text-align: left"><button type="button" class="btn btn-secondary btn-sm" onclick="window.location.href='@urlPrev'">Prev</button></div>
    <div class="col-md-2" style="text-align: center"></div>
    <div class="col-md-4" style="text-align: right"><button type="button" class="btn btn-secondary btn-sm" onclick="window.location.href='@urlNext'">Next</button></div>
    <div class="col-md-1"></div>
</div>
<div class="row"><br \></div>
<div class="row"><br \></div>
} else {

<div class="row"><br \></div>
<div class="row"><br \></div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2"></div>
    <div class="col-md-6" style="text-align: center"><p><h5>Select a branch to start</h5></p></div>
    <div class="col-md-2"></div>
    <div class="col-md-1"></div>
</div>

}


<script src="/js/API.js"></script>
<script src="/js/views/revisions.js"></script>
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})
</script>

</body>
</html>
