@import com.eco.revision.core.Revision;
@import com.eco.revision.core.RevisionData;
@import com.eco.revision.core.CommitStatus;
@import com.eco.revision.resources.RevisionResource;
@import com.eco.utils.misc.Dict;
@import java.util.List;

@args(List<Revision> revisions, String urlNext, String urlPrev, String urlBranches)

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ECO Revision Controller</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="/r/favicon.ico" />
</head>


<body>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3" style="text-align: left"><input type="button" value="Prev" onclick="window.location.href='@urlPrev'"></div>
    <div class="col-md-4" style="text-align: center"><input type="button" value="Branches" onclick="window.location.href='@urlBranches'"></div>
    <div class="col-md-3" style="text-align: right"><input type="button" value="Next" onclick="window.location.href='@urlNext'"></div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table" style="float: left">
            <thead>
                <tr>
                    <th style="width:6%">Revision</th>
                    <th style="width:15%">Submit Time</th>
                    <th style="width:8%">Author</th>
                    <th style="width:15%">Last Change</th>
                    <th style="width:8%">Edit By</th>
                    <th style="width:28%">Committed</th>
                    <th style="width:20%">Skipped</th>
                </tr>
            </thead>
            <tbody>
            @if (revisions != null) {
                @for (revision : revisions) {
                <tr>
                    <input class="branchName" type="hidden" value="@revision.getBranchName()">
                    <input class="revisionID" type="hidden" value="@revision.getRevisionId()">
                    <th scope="row">@revision.getRevisionId()</th>
                    <td>@revision.getTime().toString()</td>
                    <td>@revision.getAuthor()</td>
                    <td>@revision.getEditTime().toString()</td>
                    <td>@revision.getEditor()</td>
                    <td>
                        <ul>
                        @if (revision.getData() != null && revision.getData().getCommitStatuses() != null) {
                            @for (commitStatus : revision.getData().getCommitStatuses()) {
                                @if (commitStatus.getStatus() == Revision.STATUS.COMMITTED.getValue()) {
                            <li>
                                <a class="operationBranchName">@commitStatus.getBranchName()</a> : <a class="commitID">@commitStatus.getCommitID()</a>
                                <button type="button" class="btn btn-outline-danger btn-sm BtnDelete">x</button>
                            </li>
                                }
                            }
                        }
                        </ul>
                    </td>
                    <td>
                        <ul>
                        @if (revision.getData() != null && revision.getData().getCommitStatuses() != null) {
                            @for (commitStatus : revision.getData().getCommitStatuses()) {
                                @if (commitStatus.getStatus() == Revision.STATUS.SKIPPED.getValue()) {
                            <li>
                                <a class="operationBranchName">@commitStatus.getBranchName()</a>
                                <a class="commitID" style="display: none">@commitStatus.getCommitID()</a>
                                <button type="button" class="btn btn-outline-danger btn-sm BtnDelete">x</button>
                            </li>
                                }
                            }
                        }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Comment:</td>
                    <td colspan="5"><p>@revision.getComment()</p></td>
                </tr>
                <tr>
                    <td colspan="7">
                        <div class="input-group input-group-sm mb-3">
                            <input class="branchName" type="hidden" value="@revision.getBranchName()">
                            <input class="revisionID" type="hidden" value="@revision.getRevisionId()">

                            <div class="input-group-prepend">
                                <button class="btn btn-outline-success" type="button">Add</button>
                            </div>
                            <select class="custom-select" id="inputGroupSelect03">
                                <option value="1" selected>Submitted</option>
                                <option value="2">Skipped</option>
                            </select>

                            <div class="input-group-prepend">
                                <span class="input-group-text">BranchName</span>
                            </div>
                            <input class="form-control">

                            <div class="input-group-prepend">
                                <span class="input-group-text">Commit ID</span>
                            </div>
                            <input class="form-control">

                            <div class="input-group-prepend">
                                <span class="input-group-text">Comment</span>
                            </div>
                            <textarea class="form-control"></textarea>
                        </div>
                    </td>
                </tr>
                }
            }
            </tbody>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>

<script src="/r/js/API.js"></script>
<script src="/r/js/views/revisions.js"></script>

</body>
</html>
